:root {
    background-color: beige;
    --navbar-color: #c7c7c7;
    --header-color: #d3d3d3;
}

.gridbox {
    display: grid;
    grid-template-rows: repeat(7, auto) 50px;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
    align-items: center;
}

img {
    max-width: 100%;
}

header > img {
    width: 10%;
    padding-bottom: 20px;
}

header {
    grid-row: 1;
    grid-column: 1/13;
}

header, footer {
    background-color: var(--header-color);
    min-height: 100px;
}

.navbar {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
}

.navelement {
    background-color: var(--navbar-color);
    flex-grow: 1;
    padding-bottom: 5px;
}

.header1 {
    grid-row: 2;
    grid-column: 1/13;
}

.img1 {
    grid-row: 3;
    grid-column: 2/7;
}

.p1 {
    grid-row: 3;
    grid-column: 7/12;
}

.header2 {
    grid-row: 4;
    grid-column: 1/13;
}

.img2 {
    grid-row: 5;
    grid-column: 2/7;
}

.p2 {
    grid-row: 5;
    grid-column: 7/12;
}

.header3 {
    grid-row: 6;
    grid-column: 1/13;
}

.img3 {
    grid-row: 7;
    grid-column: 2/7;
}

.p3 {
    grid-row: 7;
    grid-column: 7/12;
}

footer {
    position: relative;
    grid-row: 8;
    grid-column: 1/13;
}

body {
    margin: 0px;
}

@media screen and (width <= 550px) {
    .gridbox {
       grid-template-rows: repeat(10, auto) 100px; 
    }

    .img1 {
        grid-row: 3;
        grid-column: 2/12;
    }

    .p1 {
        grid-row: 4;
        grid-column: 2/12;
    }

    .header2 {
        grid-row: 5;
    }

    .img2 {
        grid-row: 6;
        grid-column: 2/12;
    }

    .p2 {
        grid-row: 7;
        grid-column: 2/12;
    }

    .header3 {
        grid-row: 8;
    }

    .img3 {
        grid-row: 9;
        grid-column: 2/12;
    }

    .p3 {
        grid-row: 10;
        grid-column: 2/12;
    }

    footer {
        grid-row: 11;
    }

    .navbar {
        flex-direction: column;
    }
}